MyPoinNew_CoreGateway/Web References/MyPoinCore/service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckPoin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPoinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckPoinResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="earning_point">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="earning_pointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="earning_pointResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="redeem_point">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="redeem_pointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="redeem_pointResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="redeem_point_card_num">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="redeem_point_card_numResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="redeem_point_card_numResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancel_redeem_point">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancel_redeem_pointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cancel_redeem_pointResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="redeem_stamps">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="redeem_stampsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="redeem_stampsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancel_redeem_stamps">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancel_redeem_stampsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cancel_redeem_stampsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckPoinSoapIn">
    <wsdl:part name="parameters" element="tns:CheckPoin" />
  </wsdl:message>
  <wsdl:message name="CheckPoinSoapOut">
    <wsdl:part name="parameters" element="tns:CheckPoinResponse" />
  </wsdl:message>
  <wsdl:message name="earning_pointSoapIn">
    <wsdl:part name="parameters" element="tns:earning_point" />
  </wsdl:message>
  <wsdl:message name="earning_pointSoapOut">
    <wsdl:part name="parameters" element="tns:earning_pointResponse" />
  </wsdl:message>
  <wsdl:message name="redeem_pointSoapIn">
    <wsdl:part name="parameters" element="tns:redeem_point" />
  </wsdl:message>
  <wsdl:message name="redeem_pointSoapOut">
    <wsdl:part name="parameters" element="tns:redeem_pointResponse" />
  </wsdl:message>
  <wsdl:message name="redeem_point_card_numSoapIn">
    <wsdl:part name="parameters" element="tns:redeem_point_card_num" />
  </wsdl:message>
  <wsdl:message name="redeem_point_card_numSoapOut">
    <wsdl:part name="parameters" element="tns:redeem_point_card_numResponse" />
  </wsdl:message>
  <wsdl:message name="cancel_redeem_pointSoapIn">
    <wsdl:part name="parameters" element="tns:cancel_redeem_point" />
  </wsdl:message>
  <wsdl:message name="cancel_redeem_pointSoapOut">
    <wsdl:part name="parameters" element="tns:cancel_redeem_pointResponse" />
  </wsdl:message>
  <wsdl:message name="redeem_stampsSoapIn">
    <wsdl:part name="parameters" element="tns:redeem_stamps" />
  </wsdl:message>
  <wsdl:message name="redeem_stampsSoapOut">
    <wsdl:part name="parameters" element="tns:redeem_stampsResponse" />
  </wsdl:message>
  <wsdl:message name="cancel_redeem_stampsSoapIn">
    <wsdl:part name="parameters" element="tns:cancel_redeem_stamps" />
  </wsdl:message>
  <wsdl:message name="cancel_redeem_stampsSoapOut">
    <wsdl:part name="parameters" element="tns:cancel_redeem_stampsResponse" />
  </wsdl:message>
  <wsdl:portType name="service2Soap">
    <wsdl:operation name="CheckPoin">
      <wsdl:input message="tns:CheckPoinSoapIn" />
      <wsdl:output message="tns:CheckPoinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="earning_point">
      <wsdl:input message="tns:earning_pointSoapIn" />
      <wsdl:output message="tns:earning_pointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="redeem_point">
      <wsdl:input message="tns:redeem_pointSoapIn" />
      <wsdl:output message="tns:redeem_pointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="redeem_point_card_num">
      <wsdl:input message="tns:redeem_point_card_numSoapIn" />
      <wsdl:output message="tns:redeem_point_card_numSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cancel_redeem_point">
      <wsdl:input message="tns:cancel_redeem_pointSoapIn" />
      <wsdl:output message="tns:cancel_redeem_pointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="redeem_stamps">
      <wsdl:input message="tns:redeem_stampsSoapIn" />
      <wsdl:output message="tns:redeem_stampsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cancel_redeem_stamps">
      <wsdl:input message="tns:cancel_redeem_stampsSoapIn" />
      <wsdl:output message="tns:cancel_redeem_stampsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="service2Soap" type="tns:service2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckPoin">
      <soap:operation soapAction="http://tempuri.org/CheckPoin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="earning_point">
      <soap:operation soapAction="http://tempuri.org/earning_point" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="redeem_point">
      <soap:operation soapAction="http://tempuri.org/redeem_point" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="redeem_point_card_num">
      <soap:operation soapAction="http://tempuri.org/redeem_point_card_num" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancel_redeem_point">
      <soap:operation soapAction="http://tempuri.org/cancel_redeem_point" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="redeem_stamps">
      <soap:operation soapAction="http://tempuri.org/redeem_stamps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancel_redeem_stamps">
      <soap:operation soapAction="http://tempuri.org/cancel_redeem_stamps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="service2Soap12" type="tns:service2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckPoin">
      <soap12:operation soapAction="http://tempuri.org/CheckPoin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="earning_point">
      <soap12:operation soapAction="http://tempuri.org/earning_point" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="redeem_point">
      <soap12:operation soapAction="http://tempuri.org/redeem_point" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="redeem_point_card_num">
      <soap12:operation soapAction="http://tempuri.org/redeem_point_card_num" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancel_redeem_point">
      <soap12:operation soapAction="http://tempuri.org/cancel_redeem_point" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="redeem_stamps">
      <soap12:operation soapAction="http://tempuri.org/redeem_stamps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancel_redeem_stamps">
      <soap12:operation soapAction="http://tempuri.org/cancel_redeem_stamps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service2">
    <wsdl:port name="service2Soap" binding="tns:service2Soap">
      <soap:address location="http://192.168.72.58:5522/service2.asmx" />
    </wsdl:port>
    <wsdl:port name="service2Soap12" binding="tns:service2Soap12">
      <soap12:address location="http://192.168.72.58:5522/service2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>